body{
    background-color: darkgreen;
}


.transparente{
    background-color: rgba(0, 0, 0, 0.39);
    /* width: 300px; */
    font-size: 40px;
    height: 200px;
    /* text-align: center;
    display: flex;  */
    justify-content: center; 
     align-items: center;
    border-radius: 20px;
} 

span{
    font-size: 50px;
}

p{
    display: inline-block;
}