body{
    /* background-color: darkgreen; */
    background-image:url(../img/pexels-stein-egil-liland-6007906.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;

}


.p-{
  display: inline-block;
}

.div-black{
    background-color: rgba(0, 0, 0, 0.726);
    border-radius: 30px;
}



.transparente{
    font-size: 40px;
    background-color:rgba(0, 0, 0, 0.493);
    border-radius: 30px;
}

@media all and (max-width:540px){
    .transparente{
        display: none;
    }
}